
RewriteOptions inherit
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
#First line says do not affect blog or users site
#To diasable more directories, add another pipe | after users
RewriteRule ^(blog|users|2015Conference|support)($|/) - [L]
#This line allows for users to type pages without the html extension
RewriteRule ^([^\.]+)$ $1.html [NC,L]

#Find code at http://alexcican.com/post/how-to-remove-php-html-htm-extensions-with-htaccess/

RewriteCond %{HTTP_HOST} ^shingoforce\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingoforce\.com$
RewriteRule ^/?$ "https\:\/\/shingoforce\.my\.salesforce\.com\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$
RewriteRule ^studytours$ "http\:\/\/shingo\.org\/studytour\.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$
RewriteRule ^studytours\.html$ "http\:\/\/shingo\.org\/studytour\.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$
RewriteRule ^recognition\.html$ "http\:\/\/shingo\.org\/awards\.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$
RewriteRule ^mexico\.html$ "http\:\/\/shingo\.org\/regional\/mexico\.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$
RewriteRule ^ireland\.html$ "http\:\/\/shingo\.org\/regional\/ireland\.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$
RewriteRule ^ShingoMBAInfo\.html$ "http\:\/\/huntsman\.usu\.edu\/shingombawebinar\/files\/uploads\/Shingo\_MBA\_Brochure\.pdf" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$
RewriteRule ^shingombainfo\.html$ "http\:\/\/huntsman\.usu\.edu\/shingombawebinar\/files\/uploads\/Shingo\_MBA\_Brochure\.pdf" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$
RewriteRule ^International\/$ "http\:\/\/shingo\.org\/2016Conference\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$
RewriteRule ^2015Conference\/"$ "http\:\/\/shingo\.org\/2016Conference\/" [R=301,L]
