RewriteOptions inherit
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

#First line says do not affect blog or users site
#To diasable more directories, add another pipe | after users
RewriteRule ^(blog|users|2015Conference|support)($|/) - [L]
#This line allows for users to type pages without the html extension
RewriteRule ^([^\.]+)$ $1.html [NC,L]

#Find code at http://alexcican.com/post/how-to-remove-php-html-htm-extensions-with-htaccess/

RewriteCond %{HTTP_HOST} ^shingoforce\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingoforce\.com$
RewriteRule ^/?$ "https\:\/\/shingoforce\.my\.salesforce\.com\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.org$ [OR]
RewriteCond %{HTTP_HOST} ^dnrlean.com$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.ca$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.com.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org.uk$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.co.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.in$
RewriteRule ^studytours$ "http\:\/\/shingo\.org\/studytour\.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.org$ [OR]
RewriteCond %{HTTP_HOST} ^dnrlean.com$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.ca$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.com.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org.uk$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.co.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.in$
RewriteRule ^studytours\.html$ "http\:\/\/shingo\.org\/studytour\.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.org$ [OR]
RewriteCond %{HTTP_HOST} ^dnrlean.com$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.ca$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.com.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org.uk$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.co.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.in$
RewriteRule ^recognition\.html$ "http\:\/\/shingo\.org\/awards\.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.org$ [OR]
RewriteCond %{HTTP_HOST} ^dnrlean.com$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.ca$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.com.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org.uk$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.co.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.in$
RewriteRule ^mexico\.html$ "http\:\/\/shingo\.org\/regional\/mexico\.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.org$ [OR]
RewriteCond %{HTTP_HOST} ^dnrlean.com$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.ca$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.com.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org.uk$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.co.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.in$
RewriteRule ^ireland\.html$ "http\:\/\/shingo\.org\/regional\/ireland\.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.org$ [OR]
RewriteCond %{HTTP_HOST} ^dnrlean.com$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.ca$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.com.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org.uk$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.co.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.in$
RewriteRule ^ShingoMBAInfo\.html$ "http\:\/\/huntsman\.usu\.edu\/shingombawebinar\/files\/uploads\/Shingo\_MBA\_Brochure\.pdf" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.org$ [OR]
RewriteCond %{HTTP_HOST} ^dnrlean.com$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.ca$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.com.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org.uk$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.co.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.in$
RewriteRule ^shingombainfo\.html$ "http\:\/\/huntsman\.usu\.edu\/shingombawebinar\/files\/uploads\/Shingo\_MBA\_Brochure\.pdf" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.org$ [OR]
RewriteCond %{HTTP_HOST} ^dnrlean.com$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.ca$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.com.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org.uk$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.co.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.in$
RewriteRule ^shingomba\.html$ "http\:\/\/huntsman\.usu\.edu\/shingombawebinar\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.org$ [OR]
RewriteCond %{HTTP_HOST} ^dnrlean.com$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.ca$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.com.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org.uk$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.co.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.in$
RewriteRule ^shingoMBA\.html$ "http\:\/\/huntsman\.usu\.edu\/shingombawebinar\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.org$ [OR]
RewriteCond %{HTTP_HOST} ^dnrlean.com$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.ca$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.com.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org.uk$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.co.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.in$
RewriteRule ^International\.html$ "http\:\/\/shingo\.org\/2016Conference\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.org$ [OR]
RewriteCond %{HTTP_HOST} ^dnrlean.com$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.ca$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.com.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org.uk$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.co.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.in$
RewriteRule ^education/(.*)$ "http\:\/\/shingo\.org\/education.html" [R=301,L]

RewriteCond %{HTTP_HOST} ^shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.shingo\.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoinstitute.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoexchange.org$ [OR]
RewriteCond %{HTTP_HOST} ^dnrlean.com$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.org$ [OR]
RewriteCond %{HTTP_HOST} ^theshingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.ca$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.com.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoprize.org.uk$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.mx$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.cn$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.cn.com$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.co.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingoinstitute.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.org.in$ [OR]
RewriteCond %{HTTP_HOST} ^shingo.in$
RewriteRule ^commitment\.html$ "http\:\/\/blog\.shingo\.org\/index\.php\/25\-commitment\-to\-approaching\-problems\-methodically" [R=301,L]
