@import url(http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,700,900,500|Quattrocento+Sans:400,400italic,700);

/* General */

hr {
	border: 1px solid #888;
  clear: both;
  margin: 16px auto 18px;
  height: 0;
  width: 300px;
}

header {
	background-color: rgb(223, 196, 134);
	width: 100%;
	position: fixed;
	z-index: 5;
	margin-top: -20px;
}

section {
	padding: 10px;
	margin: 20px 0;
}

nav {
	width: 100%;
	padding: 20px;
	padding-right: 0;
}

#big-menu ul {
	float: left;
	list-style: none;
	width: 500px;
	display: inline-block;
	margin:15px;
}

#big-menu ul > li:not(:last-child) {
	float: left;
	width: 100px;
	border-right: 1px solid black;
}

#big-menu ul > li > a {
	color: #640921;
}

#big-menu ul > li > a:hover {
	color: #003768;
}


/* 28th International Conference */

.container {
	max-width: 100%;
	width: 100%;
	height:50px;
}

#home {
	background: url("http://res.cloudinary.com/shingo/image/upload/w_1920/v1439494481/national-mall_rtglsv.jpg") no-repeat center center;
    background-size: cover;
		height: 650px;
	text-align:center;
}
	#home h1 {
		font-family: 'Quattrocento Sans';
    	word-spacing: -.08em;
    	color: rgb(0,51,89);
    	font-weight: bolder;
	}
	#home h2, #home h3 {
		font-family: 'Roboto', sans-serif;
		word-spacing: -.1em;
	}
	#home p {
		font-size: 1.5em;
    	font-weight: bolder;
	}

#box {
	background-color: rgba(223, 196, 134, 0.74);
  border-radius: 5px;
  margin-top: 200px;
}

#s-registration table {
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #ddd;
}
	#s-registration table > thead {
		background-color: #b17c31;
	}
	#s-registration table > thead th {
		color: #333333;
		height: 50px;
		font-family: "Roboto";
		font-size: 1.5em;
		font-weight: 300;
	}
	#s-registration table td {
		border-bottom: 1px solid #ddd;
	}

#s-agenda ul.tabs {
	border-bottom: 3px solid #b17c31;
}
 #s-agenda li.tab-title.active {
	 border: 2px solid #b17c31;
	 border-bottom: 0;
	 bottom: 2px;
 }

table.striped {
		width: 100%;
		border: 1px solid #ddd;
		box-shadow: 3px 3px 3px #ddd;
	}
		#s-agenda table.striped > thead {
			background-color: #b17c31;
		}
		#s-agenda table.striped > thead th {
			color: #333333;
			height: 50px;
			font-family: "Roboto";
			font-size: 1.5em;
			font-weight: 300;
		}
		table.striped td {
			border-bottom: 1px solid #ddd;
			font-size: 1em;
			height: 40px;
			padding: 15px;
		}
		table.striped td:first-child {
			width: 20%;
		}
		table.striped td:last-child {
			text-align: center;
			width: 20%;
		}
		table.striped tr:nth-child(2n) {
			background-color: #EFEFEF;
		}
#all-speakers {
	border: 1px solid #ddd;
  box-shadow: 3px 3px 3px #ddd;
  padding: 20px 0;
}

#all-speakers ul {
	padding: 10px;
}

#all-speakers .columns {
	padding:0;
}

#all-speakers .name {
	float: left;
}

#all-speakers .info {
	color: #b17c31;
}

#all-speakers .info > i {
	margin-top: 50%;
}

.speaker-cat {
	background-color: #b17c31;
	padding: 5px;
	border: 1px dashed #FFF;
}

.speaker-cat > h4 {
  font-family: "Roboto";
  font-weight: 200;
  font-size: 2em;
}

/********FOOTER********/
footer #footer { box-shadow:-1px 0 2px #CCCCCC; padding-top:30px; padding-bottom:20px; background:#FFFFFF; }

footer iframe { width:100%; margin-top: 50px; border:none; }

footer img { margin-top:10px; }

footer p { font-family: "Quattrocento Sans"; }

.quattrocento {
    font-family: "Quattrocento Sans";
    font-size: 1.2em;
    font-weight: bolder;
    margin: 0;
}

.roboto {
	font-family: "Roboto";
	font-weight: 300;
	margin: 0;
}

.logo {
	margin-top: -10px;
	position: fixed;
	width: 275px;
}

.centered {
	display: inline-block;
}

.half {
	float:left;
}
	.half a {
		color: #d04526;
	}
.half:last-child {
	margin-left: 100px;
}

.text-center {
	text-align: center;
}

.right {
	float: right;
}

.left {
	float: left;
}

nav .button {
	background-color: transparent;
}

nav .button:hover {
	background-color: transparent;
	color: #333;
}

#s-registration .button {
	background-color: #5b3416;
}

#s-registration .button:hover {
	background-color: #301a13;
}

/** Small Screens **/

@media only screen and (max-width: 1024px) {
	#big-menu {
		display: none;
	}
}

@media only screen and (max-width: 767px) {

	#s-agenda li.tab-title > a {
		padding: 5px;
		font-size: 90%;
	}

	#s-agenda table.striped > thead th {
    font-size: 1em;
  }

	.about-icon {
		display: none;
	}

	.half:last-child {
		margin-left: 0;
	}

	.right {
		float: none;
	}

	.left {
		float: none;
	}

	.half {
		float: none;
	}
}
